@modelvmFactory.GetViewModel<LoginViewModel>()

@{ 
	ViewData["Title"] = "Home";
	ViewData["StyleSheet"] = "index.css";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div id="welcome-container">
	<h1 id="welcome">Welcome to my personal library!</h1>
</div>

	<div id="login-container">
		<form id="login-form" asp-controller="Home" asp-action="DirectLogin" method="post">
			<div class="login-verification-info">
				@foreach (string error in Model.LoginErrorInfo) {
					error.ToString();
				}
			</div>
			<div asp-validation-summary="All"></div>
			<div class="form-group">
				<label asp-for="@Model.LoginInfo.Email">Email address</label>
				<input asp-for="@Model.LoginInfo.Email" type="email" class="form-control" placeholder="Enter Email">
			</div>
			<div class="form-group">
				<label asp-for="@Model.LoginInfo.Password">Password</label>
				<input asp-for="@Model.LoginInfo.Password" type="password" class="form-control" placeholder="Enter Password">
			</div>
			<div id="submit-login-container">
				<button type="submit" class="btn btn-primary text-center btn-submit-form">Submit</button>
			</div>
			
		</form>
        </div>

		<div id="create-account-container">
			<div class="text-center">
				<form asp-action="CreateAccount" method="get">
					<label style="display: block;">Not a Member?</label>
					<input type="submit" class="btn btn-md" value="Create Account!" />
				</form>
			</div>
		</div>	