@model SpecifyBookViewModel
@{
    ViewData["Title"] = "SpecifyBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Specify Which Book to Edit:</h2>

<form asp-action="RemoveBook" method="post">
	<div class="has-error">@Model.ErrorMessage</div>
	<div>
		<label for="libraryID">Library ID:</label>
		<input type="number" name="libraryID" min="0"/>
		<input type="submit" value="Stage Removal"/>
	</div>
</form>

