@model LibraryWebUI.ViewModels.Member.CartViewModel
@using CoreLibrary.Inventory

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Cart</h2>

<div>
	@{
		foreach (ILibraryItem item in Model.CartContents) {
			<hr style="border-top: 1px solid; margin-top: 50px; margin-bottom:50px;" />

			<form asp-action="BookDetails" method="post">
				<input hidden type="number" name="libraryID" value="@item.LibraryID" />
				<input style="text-align:left; margin-left:0; padding:0; font-size:200%; color:#000000; width:90%; font-style:italic"
					   type="submit"
					   class="btn btn-link"
					   value="@item.Title" />
			</form>
			<div class="row">
				<div class="col-xs-9">
					Description:
					<textarea readonly style="width:100%; overflow:hidden; padding:10px;" rows="4">@item.Description</textarea>
				</div>
			</div>
			@: Format: @item.Format
		}
	}
</div>